

<div class="container">
    <div class="column">
        <div class="item">
            <img src="~/images/facts-parrots.jpg" />
        </div>
        <h1>Ovanliga fåglar till vanliga priser</h1>
        <p></p>
    </div>
</div>