@model Bird;

<h1>Ändra på en fågel</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input hidden asp-for="Id" />
            <div class="form-group">
                <label class="control-lable">Art</label>
                <input class="form-control" asp-for="Species" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Namn</label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-lable">Pris</label>
                <input class="form-control" asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Spara" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan med fåglar</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml"); }
}